.vc_custom_1585108456893 {
    background-image: url("./public/img/2017/03/bgpr.webp") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1489090227573 {
    background-color: #232220 !important;
}

.vc_custom_1585109255801 {
    background-image: url('./public/img/2017/03/bg2.webp') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1489090206536 {
    background-color: #232220 !important;
}

.vc_custom_1489090707485 {
    padding-top: 30px !important;
}

.vc_custom_1487878165893 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background-color: #f6d014 !important;
}

.vc_custom_1489140131911 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.vc_custom_1585084733614 {
    padding-bottom: 43px !important;
}

.vc_custom_1489083194784 {
    padding-top: 0px !important;
}

.vc_custom_1489083175256 {
    padding-top: 0px !important;
}

.vc_custom_1489083187128 {
    padding-top: 0px !important;
}

.vc_custom_1489083227337 {
    padding-top: 0px !important;
}

.vc_custom_1489090162976 {
    padding-top: 0px !important;
}

.vc_custom_1489082653409 {
    padding-top: 0px !important;
}

.vc_custom_1586393515436 {
    padding-top: 0px !important;
}

.vc_custom_1489140553444 {
    margin-top: 10px !important;
}

.vc_custom_1489140473781 {
    padding-top: 10px !important;
}

.vc_custom_1489140484172 {
    padding-top: 10px !important;
}

.vc_custom_1489140493629 {
    padding-top: 10px !important;
}